<article class="rental">
    <Rental::Image 
    src={{@rental.image}}
    alt="Foto de {{@rental.title}}"
    />
    <div class="details">
        <h3>
            <LinkTo @route="rental" @model={{@rental}}>
                {{@rental.title}}
            </LinkTo>
        </h3>
        <div class="detail owner">
            <span>Dueño:</span> {{@rental.owner}}
        </div>
        <div class="detail type">
            <span>Tipo:</span> {{@rental.type}}
        </div>
        <div class="detail location">
            <span>Ubicación:</span> {{@rental.city}}
        </div>
        <div class="detail bedrooms">
            <span>Numero de habitaciones:</span> {{@rental.bedrooms}}
        </div>
    </div>
    <Map
    @lat={{@rental.location.lat}}
    @lng={{@rental.location.lng}}
    @zoom="6.5"
    @width="150"
    @height="150"
    alt="Mapa de {{@rental.title}}"
    />    
</article>